<!DOCTYPE html>
<html>
<head>
  <title>GiTest</title>
  <%= stylesheet_link_tag    "gi_test/application", media: "all" %>
  <%= javascript_include_tag "gi_test/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
